/**
* Buttons Section
* @class Buttons
* @module buttons.css
*/
.btn-primary
	backgroundLighten(btnPrimary,10%)
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4c5568), to(#414959))
	border none
	font-weight: normal