/**
* Content CSS
* @class content
* @module content.css
*/
.content
	position: relative
	min-height: 500px
	background: #fff
	margin-left: 240px
	border-left: 1px solid #cccccc
	padding: 15px 15px 0px 15px
/*
*	Panel Form
*/
.panel
	.panel-heading
		background: #efefef
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, #fafafa))
		background: -ms-linear-gradient(bottom, #efefef, #fafafa)
		background: -moz-linear-gradient(center bottom, #efefef 0%, #fafafa 100%)
		background: -o-linear-gradient(bottom, #efefef, #fafafa)
		border-bottom: 1px solid #ccc
		color: #333
		display: block
		font-size: .85em
		line-height: 1.5em
		margin-bottom: 0px
		text-shadow: none
		text-transform: none
.panel-body
	min-height: .25em
	h1, h2, h3, h4, h5, h6, table
		margin-top: 12px
	&.collapse
		margin-top: 0em
		margin-bottom: 0em