/**
* Forms CSS
* @class forms
* @module forms.css
*/
.control
	&.alg-right
		text-align right
	&.alg-left
		text-align left
/*
*	Input Error
*/
input.error,select.error,textarea.error
	color #a94442
	border-color: #a94442 !important
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important