/**
* Sprites CSS
* @class sprites
* @module sprites.css
*/
.sprites
	background url(routImg+"icon-set.png") no-repeat
	display block
	&.icUserLg
		spritePosition($icUserLg)
		spriteWidth($icUserLg)
		spriteHeight($icUserLg)