/**
* General Section
* @class General
* @module style.css
*/
body
	background: #fafafa
	background-position: initial initial
	background-repeat: initial initial
	margin: 0px
	padding: 0px
body, h1, h2, h3, h4, h5, h6, p, a
	font-family family1
a
	hoverLighten(colorLnk,10)
	outline: none !important
a:hover, a:focus
	text-decoration: none
label
	font-weight: normal